<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>jp.soh.reprovision.profiledaemon</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/env</string>
		<string>_MSSafeMode=1</string>
		<string>_SafeMode=1</string>
		<string>/usr/libexec/repro-profiledaemon</string>
	</array>
    <key>UserName</key>
    <string>root</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <!-- v1.1.152：移除 POSIXSpawnType=Interactive 改默认 Background 类型。
         + 加 ThrottleInterval 30s（v1.1.150 signingd 才有，profiledaemon 漏了） -->
    <key>ThrottleInterval</key>
    <integer>30</integer>
    <key>ProcessType</key>
    <string>Background</string>
    <key>MemoryLimit</key>
    <integer>30</integer>
</dict>
</plist>
